@font-face{
    src: url(../assets/font/Merriweather/Merriweather-Bold.ttf);
    font-family: Merriweather;
  }
  @font-face{
    src: url(../assets/font/Open_Sans/OpenSans-SemiBold.ttf);
    font-family:Open Sans;
  }
  body{
    cursor: pointer;
  }
  .nav-bg{
      background: #000000 !important;
  }
  .navbar-nav .nav-link{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 31px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #FFFFFF !important;
  }
  
  .pant-bg{
   position: absolute;
   
   max-width: 100%;
  }
  
  #home .home-bg{
      background-image: url(../shipper-img/Group\ 309.png);
      background-repeat: no-repeat;
      background-size: cover;
  }
  #home h3{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 101px;
    
    letter-spacing: 0.5px;
    color: #FFFFFF;
  }
  #home li{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 160%;
    color: #FFFFFF;
  }
  ul {
    list-style: none; /* remove the default */
  }
  #home li::before{
    display: inline-block;
          content: '';
          -webkit-border-radius: 50%;
          border-radius: 50%;
          height: 8px;
          width: 8px;
          margin-right: 0.5rem;
          background-color: #8BBD43;
      }
#home h2{
   font-family: Merriweather;
    font-style: normal;
    position: relative;
    font-weight: bold;
    font-size: 43px;
    line-height: 54px;
   
    letter-spacing: 0.5px;
    color: #FFFFFF;
} 
   
#home{
    background: #2E2E2E;
} 
#form-bg{
    background: #2E2E2E;
}
#home .form-control{
   
    height: 42px;
}
#form-bg label{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 31px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #8BBD43;
}   
.inputWithIcon {
    position: relative;
  }
  
  .inputWithIcon img {
    position: absolute;
    left: 0;
    top: 1px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
  }
  

.Multi-Family{
    margin-left: -7%;
}
#home .form-control{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    background: transparent;
    color: white;
}
#space-type{
    background: #2E2E2E;
}
#space-type h3{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 31px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #8BBD43;
}
#space-type h6{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 39px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
#space-type .myImage-1{
    height: 29px;
    width: 29px;
}
.sq-ft{
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 30px;
display: flex;
justify-content: flex-end;
color: #8BBD43;
position: absolute;
left: 77%;
top: 49%;
}
#total-approx h2{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 31px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #8BBD43;
}
#total-approx .form-control{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    background: transparent;
    color: white;
    
    height: 53px;
}
#total-approx input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;

}
input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 6px;
    /* background-color only for content */
    background-clip: content-box;
    border: 2px solid #bbbbbb;
    background-color: #e7e6e7;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border: 1px solid #000 ;
  }
   input[type="radio"]:checked  {
    background-color: #8BBD43 !important;
    padding: 4px;
    border: 1px solid #8BBD43 !important;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px white;
    color: #8BBD43;
}
input[type="radio"]:checked + label  {
    
    color: #8BBD43 !important;
}
#radio-btn label{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 31px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: white;
}
#local-delivery h2{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 31px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #8BBD43;
}
.form-check-input:checked ~ label {
    color: blue;
  }
  #footer .btn{
    background: #FFFFFF;
    border-radius: 107px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #8BBD43;
}
#main-footer h4{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    }
    #footer .btn:hover{
        
        color: white;
        background: #8BBD43;
    }
    #total-approx span{
        font-size: 14px;
    }
   .fa-globe{
    color: white; 
    font-size: 20px;
   }
   /* ***************************media queries******************************/
/* Smartphones (portrait) ----------- */
@media (min-width: 320px) and (max-width: 480px) {
    .pant-bg{
        width: 262px;
    }
    #home h2{
        font-size: 27px;
    }
    #main-footer h4{
        font-size: 25px;
    }
  }
@media (min-width: 357px) and (max-width: 767px) {
    
    #home li {
        line-height: 30px;
        font-size: 20px;
    }
    #form-bg label{
        font-size: 16px;
    }
    #space-type h6,#total-approx h2,#local-delivery h2 ,#main-footer h4, #footer .btn {
        font-size: 18px;
    }
    #radio-btn label{
        font-size: 16px;
    }
    #home h2 {
        font-size: 30px;
        }
   .sq-ft{
        left: 68%;
        font-size: 16px;
    }
    #home h3 {
        font-size: 30px;
    }
    .pant-bg{
        width: 312px;
    }
    #home h3 {
        line-height: 50px;
    }
}

@media only screen and (min-device-width : 769px) and (max-device-width : 1025px) {
    .pant-bg{
        width: 377px;
    }
    #home h3{
        font-size: 50px;
    }
    #home li {
        line-height: 40px;
    }
    #form-bg label{
        font-size: 18px;
    }
   .sq-ft{
        left: 61%;
    }
    
}
@media (min-width: 1025px) and (max-width: 1480px) {
  
    .pant-bg{
        width: 543px;
    }
    
  }
